/**
 * Sample .scss file which is used on the admin/help/scssphp page.
 *
 * @author Rob Loach (http://robloach.net)
 */

$background: #7FFF00;
$textcolor: black;

div {
  .specialClass {
    background-color: $background;
    text-color: $textcolor;
  }
}
